<div class="pins">
  <p class="pin" *ngFor="let pin of pins" (click)="displayPins(pin)">
    <span>{{pin}}</span>
  </p>
</div>


<div class="container">
  <div class="pins" *ngFor="let frame of frames; let index= index">
    <div class="pins" *ngFor="let item of frame.frame; let index= index">
      <p class="pin" [ngClass]="{'active': frame.active}">
        <span>{{item}}</span>
      </p>
    </div>
<!--    <span *ngIf="sumOfFrame > 0">{{sumOfFrame}}</span>-->
    <span *ngIf="frame?.frame?.length === 2 && frame?.score !== 0">{{frame?.score}}</span>
  </div>
</div>
