<div class="pins">
  <p class="pin" *ngFor="let pin of pins; let index= index" (click)="displayPins(pin)">
    <span>{{pin}}</span>
<!--    <span>{{index}}</span>-->
  </p>
</div>


<div class="container">
  <div class="pins mgl"
       (click)="selectFrame(index)"
       [ngClass]="{'active': frame.active }"
       *ngFor="let frame of frames; let index= index">
    <div class="pins" *ngFor="let item of frame.frame; let index= index; trackBy:trackById">
      <p class="pin">
        <span>{{item === 10 ? 'x' : item}}</span>
      </p>
    </div>
<!--    <span *ngIf="sumOfFrame > 0">{{sumOfFrame}}</span>-->
    <span *ngIf="frame?.score !== 0 && frame?.showScore">{{frame?.score}}</span>
  </div>
  <p class="mgl" *ngIf="totalScore">totalScore: {{totalScore}}</p>
</div>

